@font-face {
  font-family: digitos;
  src: url(font/digital-7.ttf);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

#container-page {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  flex-direction: column;
  background-color: rgb(163, 187, 207);
}

h1 {
  margin-bottom: 20px;
}

#container-calculator {
  max-width: 300px;
  background-color: rgb(77, 70, 60);
  border-radius: 10px;
  padding: 10px;
}

header {
  padding: 10px;
}

#visor {
  height: 80px;
  background-color: rgb(132, 177, 141);
  display: flex;
  align-items: flex-end;
  justify-content: flex-end;
  font-size: 50px;
  padding: 3px;
  border-radius: 20px;
  border-width: 5px;
  border-style: inset;
  font-family: digitos;
  overflow: hidden;
}

#visor:after {
  content: '';
  display: inline-block;
  background-color: white;
  margin-left: 5px;
  margin-right: 2px;
  height: 50px;
  width: 4px;
  animation: cursor 1s infinite;
}

@keyframes cursor {
  0% { opacity: 1; }
  49% { opacity: 1; }
  50% { opacity: 0; }
  100% { opacity: 0; }
}

main {
  display: flex;
  flex-wrap: wrap;
}

.container-btn {
  width: 25%;
  height: 50px;
  padding: 10px;
}

.container-btn-ce {
  width: 50%;
  height: 50px;
  padding: 10px;
}

.container-btn-equal {
  width: 50%;
  height: 50px;
  padding: 10px;
}

button {
  height: 100%;
  width: 100%;
  border-radius: 20px;
  cursor: pointer;
}

.btn:focus, .btn::-moz-focus-inner{
  outline:none;
  border:none;
}

.btn{
  font-family: digitos;
  font-size:14px;
  text-transform: uppercase;
  font-weight:700;
  border:none;
  padding:10px;
  cursor: pointer;
  display:inline-block;
  text-decoration: none;
}

.btn-design{
  background:rgb(102, 0, 128);
  color:#fff;
  box-shadow:0 5px 0 #60005b;
}
.btn-design:hover{
  background:#60005b;
  box-shadow:0 5px 0 #32003f;
}

.btn-design:active {
  position:relative;
  top:5px;
  box-shadow:none;
}